<div class="media my-3" data_id="{{id}}">
    <a target="_blank"
        href="https://www.nbcbayarea.com/news/sports/49ers-are-third-best-nfl-team-but-fourth-best-super-bowl-odds-by-espn/2296929/">
        <img alt="news" id="news-image"
            src="https://media.nbcbayarea.com/2019/09/shanahanjimmygetty.jpg?resize=200%2C113">
    </a>
    <div class="media-body ml-3">
        <a target="_blank"
            href="https://www.nbcbayarea.com/news/sports/49ers-are-third-best-nfl-team-but-fourth-best-super-bowl-odds-by-espn/2296929/">
            <h5 class="mt-0">
                49ers Are Third-Best NFL Team, But Fourth-Best Super Bowl Odds by ESPN</h5>
        </a>
        <p>Will the 49ers run it back and avenge their Super Bowl loss?</p>
        <div><span><i class="fas fa-plus-circle" id="save-articles" aria-hidden="true"> Save Article</i></span></div>
    </div>
</div>